* {
    margin: 0;
    padding: 0;
}

.orange {
    background-color: #ff9900
}

.blue {
    background-color: #0b5394;
}

.container {
    background-color: whitesmoke;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.circle {
    display: flex;
    justify-content: flex-end;
}

.circle1 {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 2px solid black;
}

.square {
    display: flex;
    justify-content: space-between;
}

.square1 {
    width: 150px;
    height: 150px;
    border: 2px solid black;
}

.square2 {
    width: 150px;
    height: 150px;
    border: 2px solid black;
}